<a href="https://colab.research.google.com/github/nedokormysh/Stepik_Competitive_DS/blob/week_7/CompetitiveDS_7_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
!pip install cssselect -q

In [ ]:
from lxml import etree, html as lhtml

In [ ]:
tree = lhtml.fromstring(open('/content/689066_2.html', 'r', encoding='utf-8').read())

In [ ]:
film_info = {
    'title': tree.xpath('//h1[@itemprop="name"]/span/text()')[0],
    'title-original': tree.xpath('//span[starts-with(@class, "styles_originalTitle__")]')[0].text,
    'rating': float(tree.cssselect('a.film-rating-value')[0].text),   # поддержка CSS-селекторов
    'desription': '\n'.join(tree.xpath('//div[starts-with(@class, "styles_synopsisSection")]//text()'))
}

film_info

{'title': 'Стражи Галактики',
 'title-original': 'Guardians of the Galaxy',
 'rating': 7.763,
 'desription': 'Отважному путешественнику Питеру Квиллу попадает в руки таинственный артефакт, принадлежащий могущественному и безжалостному злодею Ронану, строящему коварные планы по захвату Вселенной. Питер оказывается в центре межгалактической охоты, где жертва — он сам.\nЕдинственный способ спасти свою жизнь — объединиться с четверкой нелюдимых изгоев: воинственным енотом по кличке Ракета, человекоподобным деревом Грутом, смертельно опасной Гаморой и одержимым жаждой мести Драксом, также известным как Разрушитель. Когда Квилл понимает, какой силой обладает украденный артефакт и какую опасность он представляет для вселенной, одиночка пойдет на все, чтобы сплотить случайных союзников для решающей битвы за судьбу галактики.'}

In [ ]:
from bs4 import BeautifulSoup
import pandas as pd
from tqdm import tqdm

In [ ]:
soup = BeautifulSoup(open('/content/689066_2.html', 'rb').read(), 'lxml')

In [ ]:
from operator import attrgetter, itemgetter

In [ ]:
# desc = soup.find('div', itemprop='description')
desc = soup.find('div', class_=lambda s: s and s.startswith("styles_synopsisSection")).find_all('p')

film_info = {
    'title': soup.find('h1', itemprop='name').find('span').text,
    'title-original': soup.find('span', class_=lambda s: s and s.startswith('styles_originalTitle__')).text,
    'rating': float(soup.find('a', class_ = 'film-rating-value').text),
    # 'rating': float(soup.find('a', {'class': 'film-rating-value'}).text),
    'description': '\n'.join(map(attrgetter('text'), desc))
}
film_info

{'title': 'Стражи Галактики',
 'title-original': 'Guardians of the Galaxy',
 'rating': 7.763,
 'description': 'Отважному путешественнику Питеру Квиллу попадает в руки таинственный артефакт, принадлежащий могущественному и безжалостному злодею Ронану, строящему коварные планы по захвату Вселенной. Питер оказывается в центре межгалактической охоты, где жертва — он сам.\nЕдинственный способ спасти свою жизнь — объединиться с четверкой нелюдимых изгоев: воинственным енотом по кличке Ракета, человекоподобным деревом Грутом, смертельно опасной Гаморой и одержимым жаждой мести Драксом, также известным как Разрушитель. Когда Квилл понимает, какой силой обладает украденный артефакт и какую опасность он представляет для вселенной, одиночка пойдет на все, чтобы сплотить случайных союзников для решающей битвы за судьбу галактики.'}

# 7_2_3

In [ ]:
tree_0 = lhtml.fromstring(open('/content/Средняя зарплата по городам России 2023 _ BDEX.html', 'r', encoding='utf-8').read())

In [ ]:
city_info = {
    'city': tree_0.xpath('//div[@class="reg_name"]/a//text()'),
    # 'district': tree_0.xpath('//div[@class="reg_fo"]/a//text()')
    'mean_salary': tree_0.xpath('//span[@class="reg_salary"]//text()')
}

city_info

In [ ]:
len(tree_0.xpath('//div[@class="reg_name"]/a//text()'))

100

In [ ]:
len(tree_0.xpath('//div[@class="reg_fo"]/a//text()'))

97

In [ ]:
city = tree_0.xpath('//div[@class="reg_name"]/a//text()')

In [ ]:
city.index('Севастополь')

68

In [ ]:
mean_salary = tree_0.xpath('//span[@class="reg_salary"]//text()')

In [ ]:
mean_salary[0]

'129\xa0200\xa0₽'

In [ ]:
def split_only_number(s):
    s = ''.join([char for char in s if char.isdigit()])
    return s

In [ ]:
split_only_number(mean_salary[0])

'129200'

In [ ]:
import numpy as np

In [ ]:
district = tree_0.xpath('//div[@class="reg_fo"]/a//text()')
district.insert(1, np.nan)
district.insert(9, np.nan)
district.insert(68, np.nan)
len(district)

100

In [ ]:
city_info = {
    'city': tree_0.xpath('//div[@class="reg_name"]/a//text()'),
    'mean_salary': tree_0.xpath('//span[@class="reg_salary"]//text()')
}

district = tree_0.xpath('//div[@class="reg_fo"]/a//text()')
district.insert(1, np.nan)
district.insert(9, np.nan)
district.insert(68, np.nan)

def split_only_number(s):
    s = ''.join([char for char in s if char.isdigit()])
    return s

df = pd.DataFrame(city_info)
df['district'] = district
df['mean_salary'] = df['mean_salary'].apply(split_only_number)
df = df[['city', 'district', 'mean_salary']]
df = df.sort_values('city')
df

              city                    district mean_salary
41          Абакан          Республика Хакасия       45300
0          Анадырь  Чукотский автономный округ      129200
39         Ангарск           Иркутская область       45600
20     Архангельск       Архангельская область       53100
72       Астрахань        Астраханская область       38000
..             ...                         ...         ...
33            Чита          Забайкальский край       47500
97          Элиста         Республика Калмыкия       31700
3   Южно-Сахалинск         Сахалинская область       99000
10          Якутск    Республика Саха (Якутия)       74400
51       Ярославль         Ярославская область       42000

[100 rows x 3 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100 entries, 41 to 51
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   city         100 non-null    object
 1   district     97 non-null     object
 2   mean_salary  100 non-null    object
dtypes: object(3)
memory usage: 3.1+ KB

In [ ]:
df['mean_salary'].astype('int')

ValueError: ignored

In [ ]:
df.to_csv('df_0.csv')

## через soup

In [ ]:
import requests

In [ ]:
response = requests.get("https://bdex.ru/ratings/cities-salary/")
soup = BeautifulSoup(response.content)

In [ ]:
info = soup.find_all('div', class_='row reg_row')
info[0]

<div class="row reg_row"><div class="col-xl-1 col-3 order-xl-1 order-2 text-center mob_right"><p class="reg_num">1</p></div><div class="col-xl-1 ip_hide order-xl-2"><img class="img_rating" src="/img/gerb/city/anadyr.jpg"/></div><div class="col-xl-7 col-9 order-xl-3 order-1"><div class="reg_name"><a href="/chukotskiy-avtonomnyy-okrug/anadyr/" target="_blank">Анадырь</a></div><div class="reg_fo"><a href="/chukotskiy-avtonomnyy-okrug/" target="_blank">Чукотский автономный округ</a></div></div><div class="col-xl-3 col-10 order-xl-4 order-3 text-right reg_fix_top mob_left"><span class="reg_salary">129 200 ₽</span></div></div>

In [ ]:
data = []
for div in soup.find_all("div", {"class": "row reg_row"}):
    data.append((div.find("div", {"class": "reg_name"}).text,
                 div.find("div", {"class": "reg_fo"}).text,
                 int(div.find("span", {"class": "reg_salary"}).text.replace("\xa0", "")[:-1])))
    
data

[('Анадырь', 'Чукотский автономный округ', 129200),
 ('Москва', '', 113600),
 ('Салехард', 'Ямало-Ненецкий автономный округ', 106400),
 ('Южно-Сахалинск', 'Сахалинская область', 99000),
 ('Магадан', 'Магаданская область', 95200),
 ('Петропавловск-Камчатский', 'Камчатский край', 93600),
 ('Ханты-Мансийск', 'Ханты-Мансийский Автономный округ - Югра', 88300),
 ('Сургут', 'Ханты-Мансийский Автономный округ - Югра', 83400),
 ('Нарьян-Мар', 'Ненецкий автономный округ', 77900),
 ('Санкт-Петербург', '', 74400),
 ('Якутск', 'Республика Саха (Якутия)', 74400),
 ('Мурманск', 'Мурманская область', 73100),
 ('Нижневартовск', 'Ханты-Мансийский Автономный округ - Югра', 68400),
 ('Владивосток', 'Приморский край', 62000),
 ('Подольск', 'Московская область', 60300),
 ('Тюмень', 'Тюменская область', 60100),
 ('Хабаровск', 'Хабаровский край', 59600),
 ('Красноярск', 'Красноярский край', 54600),
 ('Иркутск', 'Иркутская область', 53800),
 ('Екатеринбург', 'Свердловская область', 53400),
 ('Архангельск', 'Архангельская область', 53100),
 ('Братск', 'Иркутская область', 52900),
 ('Комсомольск-На-Амуре', 'Хабаровский край', 51300),
 ('Череповец', 'Вологодская область', 50500),
 ('Томск', 'Томская область', 50300),
 ('Благовещенск', 'Амурская область', 50200),
 ('Сыктывкар', 'Республика Коми', 49500),
 ('Петрозаводск', 'Республика Карелия', 48800),
 ('Уфа', 'Республика Башкортостан', 48300),
 ('Новосибирск', 'Новосибирская область', 48200),
 ('Нижний Новгород', 'Нижегородская область', 48000),
 ('Краснодар', 'Краснодарский край', 48000),
 ('Новороссийск', 'Краснодарский край', 47900),
 ('Чита', 'Забайкальский край', 47500),
 ('Казань', 'Республика Татарстан', 47500),
 ('Кемерово', 'Кемеровская область', 47200),
 ('Кызыл', 'Республика Тыва', 46600),
 ('Новокузнецк', 'Кемеровская область', 46600),
 ('Пермь', 'Пермский край', 46300),
 ('Ангарск', 'Иркутская область', 45600),
 ('Калуга', 'Калужская область', 45400),
 ('Абакан', 'Республика Хакасия', 45300),
 ('Ростов-На-Дону', 'Ростовская область', 45200),
 ('Магнитогорск', 'Челябинская область', 44900),
 ('Самара', 'Самарская область', 44500),
 ('Тула', 'Тульская область', 44100),
 ('Калининград', 'Калининградская область', 43700),
 ('Сочи', 'Краснодарский край', 43700),
 ('Биробиджан', 'Еврейская автономная область', 43200),
 ('Улан-Удэ', 'Республика Бурятия', 42600),
 ('Тверь', 'Тверская область', 42300),
 ('Ярославль', 'Ярославская область', 42000),
 ('Вологда', 'Вологодская область', 42000),
 ('Челябинск', 'Челябинская область', 42000),
 ('Липецк', 'Липецкая область', 42000),
 ('Омск', 'Омская область', 41500),
 ('Оренбург', 'Оренбургская область', 41500),
 ('Воронеж', 'Воронежская область', 41400),
 ('Ижевск', 'Удмуртская Республика', 40800),
 ('Рязань', 'Рязанская область', 40700),
 ('Магас', 'Республика Ингушетия', 40300),
 ('Горно-Алтайск', 'Республика Алтай (Горный Алтай)', 40300),
 ('Великий Новгород', 'Новгородская область', 40000),
 ('Набережные Челны', 'Республика Татарстан', 39300),
 ('Белгород', 'Белгородская область', 39300),
 ('Нижний Тагил', 'Свердловская область', 39200),
 ('Саратов', 'Саратовская область', 39100),
 ('Тольятти', 'Самарская область', 38600),
 ('Севастополь', '', 38500),
 ('Симферополь', 'Республика Крым', 38400),
 ('Владимир', 'Владимирская область', 38300),
 ('Ставрополь', 'Ставропольский край', 38100),
 ('Астрахань', 'Астраханская область', 38000),
 ('Барнаул', 'Алтайский край', 37400),
 ('Волгоград', 'Волгоградская область', 37400),
 ('Киров', 'Кировская область', 36900),
 ('Дзержинск', 'Нижегородская область', 36900),
 ('Кострома', 'Костромская область', 36800),
 ('Чебоксары', 'Чувашская Республика', 36000),
 ('Пенза', 'Пензенская область', 35800),
 ('Курган', 'Курганская область', 35800),
 ('Ульяновск', 'Ульяновская область', 35800),
 ('Смоленск', 'Смоленская область', 35600),
 ('Псков', 'Псковская область', 35600),
 ('Брянск', 'Брянская область', 35500),
 ('Стерлитамак', 'Республика Башкортостан', 35300),
 ('Таганрог', 'Ростовская область', 34700),
 ('Курск', 'Курская область', 34600),
 ('Махачкала', 'Республика Дагестан', 34400),
 ('Орёл', 'Орловская область', 34100),
 ('Иваново', 'Ивановская область', 33700),
 ('Йошкар-Ола', 'Республика Марий Эл', 33500),
 ('Тамбов', 'Тамбовская область', 33100),
 ('Черкесск', 'Республика Карачаево-Черкессия', 33100),
 ('Грозный', 'Чеченская республика', 33000),
 ('Саранск', 'Республика Мордовия', 32500),
 ('Майкоп', 'Республика Адыгея', 32300),
 ('Элиста', 'Республика Калмыкия', 31700),
 ('Нальчик', 'Кабардино-Балкарская Республика', 31600),
 ('Владикавказ', 'Республика Северная Осетия — Алания', 31200)]

# 7.2.6

In [ ]:
import requests

In [ ]:
response = requests.get("http://www.autonet.ru/auto/ttx")
soup = BeautifulSoup(response.content)

In [ ]:
# soup

In [ ]:
from lxml import etree, html as lhtml

In [ ]:
# lhtml.fromstring(response.text).iterlinks()

In [ ]:
# a = lhtml.fromstring(response.text).iterlinks()

In [ ]:
# next(a)

(<Element link at 0x7f39c7275350>, 'href', 'http://www.autonet.ru/auto/ttx', 0)

In [ ]:
first_level = lhtml.fromstring(response.text).iterlinks()
next(first_level)[2]

'http://mc.yandex.ru'

In [ ]:
txt = "Hello, welcome to my world."

x = txt.find("das")

print(x)

-1

In [ ]:
'https://yandex.ru/ads/system/context.js'

In [ ]:
response

In [ ]:
"http://www.autonet.ru/auto/ttx" + '/ac_cars'

'http://www.autonet.ru/auto/ttx/ac_cars'

In [ ]:
response = requests.get("http://www.autonet.ru/auto/ttx")
first_level = lhtml.fromstring(response.text).iterlinks()

links = []

for el in first_level:
  # print('el =', el)
  if el[2].find('/auto/ttx/') != -1:
    ending = el[2][el[2].find('/auto/ttx/') + 9:]
    # print('el2 =', el[2])
    # print(ending)
    response = requests.get("http://www.autonet.ru/auto/ttx" + ending)
    second_level = lhtml.fromstring(response.text).iterlinks()

    for el_ in second_level:
      # print('/auto/ttx' + ending )
         
      if el_[2].find('/auto/ttx' + ending + '/') != -1:
        ending_2 = el_[2][el_[2].find(ending + '/'):]
        # print(ending_2)
        _ = "http://www.autonet.ru/auto/ttx" + ending_2
        # (print(el_))
        links.append(_)

In [ ]:
len(links)

1820

In [ ]:
links[:10]

['http://www.autonet.ru/auto/ttx/ac_cars/ace',
 'http://www.autonet.ru/auto/ttx/ac_cars/aceca',
 'http://www.autonet.ru/auto/ttx/ac_cars/cobra',
 'http://www.autonet.ru/auto/ttx/ac_cars/mamba',
 'http://www.autonet.ru/auto/ttx/acura/cl',
 'http://www.autonet.ru/auto/ttx/acura/csx',
 'http://www.autonet.ru/auto/ttx/acura/el',
 'http://www.autonet.ru/auto/ttx/acura/ilx',
 'http://www.autonet.ru/auto/ttx/acura/integra',
 'http://www.autonet.ru/auto/ttx/acura/mdx']

In [ ]:
links = pd.DataFrame(links, columns=['url'])

In [ ]:
links

                                               url
0       http://www.autonet.ru/auto/ttx/ac_cars/ace
1     http://www.autonet.ru/auto/ttx/ac_cars/aceca
2     http://www.autonet.ru/auto/ttx/ac_cars/cobra
3     http://www.autonet.ru/auto/ttx/ac_cars/mamba
4          http://www.autonet.ru/auto/ttx/acura/cl
...                                            ...
1815       http://www.autonet.ru/auto/ttx/uaz/3165
1816       http://www.autonet.ru/auto/ttx/uaz/3303
1817       http://www.autonet.ru/auto/ttx/uaz/3741
1818       http://www.autonet.ru/auto/ttx/uaz/3909
1819       http://www.autonet.ru/auto/ttx/uaz/3962

[1820 rows x 1 columns]

In [ ]:
links = links.sort_values('url')
links

                                                url
0        http://www.autonet.ru/auto/ttx/ac_cars/ace
1      http://www.autonet.ru/auto/ttx/ac_cars/aceca
2      http://www.autonet.ru/auto/ttx/ac_cars/cobra
3      http://www.autonet.ru/auto/ttx/ac_cars/mamba
4           http://www.autonet.ru/auto/ttx/acura/cl
...                                             ...
1733      http://www.autonet.ru/auto/ttx/zotye/z300
1734      http://www.autonet.ru/auto/ttx/zx/admiral
1735    http://www.autonet.ru/auto/ttx/zx/changling
1736  http://www.autonet.ru/auto/ttx/zx/grand_tiger
1737     http://www.autonet.ru/auto/ttx/zx/landmark

[1820 rows x 1 columns]

In [ ]:
links.to_csv('links_1.csv', index=False)

# 7.2.8

In [ ]:
import pandas as pd

In [ ]:
# links = pd.read_csv('https://raw.githubusercontent.com/nedokormysh/Stepik_Competitive_DS/week_7/links_1.csv')
links = pd.read_csv('/content/links_1.csv')
links

                                                url
0        http://www.autonet.ru/auto/ttx/ac_cars/ace
1      http://www.autonet.ru/auto/ttx/ac_cars/aceca
2      http://www.autonet.ru/auto/ttx/ac_cars/cobra
3      http://www.autonet.ru/auto/ttx/ac_cars/mamba
4           http://www.autonet.ru/auto/ttx/acura/cl
...                                             ...
1815      http://www.autonet.ru/auto/ttx/zotye/z300
1816      http://www.autonet.ru/auto/ttx/zx/admiral
1817    http://www.autonet.ru/auto/ttx/zx/changling
1818  http://www.autonet.ru/auto/ttx/zx/grand_tiger
1819     http://www.autonet.ru/auto/ttx/zx/landmark

[1820 rows x 1 columns]

In [ ]:
# import lxml
# # from lxml import etree, html as lhtml
# import requests
# import tqdm

# req = requests.post("http://www.autonet.ru/auto/ttx")
# tree = lxml.html.fromstring(req.text)

# links = []
# for el, tag, link, pos in tqdm(list(tree.iterlinks())):
#     if link.startswith('/auto/ttx/'):
#         car = lxml.html.fromstring(requests.post(f'http://www.autonet.ru{link}').text)
#         for _, _, car_link, _ in car.iterlinks():
#             if car_link.startswith(link+'/'):
#                 links.append(f'http://www.autonet.ru{car_link}')

# sub = pd.DataFrame({'url': links})
# sub = sub.sort_values(by='url')

In [ ]:
df_ = pd.read_csv('https://stepik.org/media/attachments/lesson/866758/quickstart_train.csv')
df_

,car_id,model,car_type,fuel_type,car_rating,year_to_start,riders,year_to_work,target_reg,target_class,mean_rating,distance_sum,rating_min,speed_max,user_ride_quality_median,deviation_normal_count,user_uniq
0,y13744087j,Kia Rio X-line,economy,petrol,3.78,2015,76163,2021,109.99,another_bug,4.737759,1.214131e+07,0.10,180.855726,0.023174,174,170
1,O41613818T,VW Polo VI,economy,petrol,3.90,2015,78218,2021,34.48,electro_bug,4.480517,1.803909e+07,0.00,187.862734,12.306011,174,174
2,d-2109686j,Renault Sandero,standart,petrol,6.30,2012,23340,2017,34.93,gear_stick,4.768391,1.588366e+07,0.10,102.382857,2.513319,174,173
3,u29695600e,Mercedes-Benz GLC,business,petrol,4.04,2011,1263,2020,32.22,engine_fuel,3.880920,1.651883e+07,0.10,172.793237,-5.029476,174,170
4,N-8915870N,Renault Sandero,standart,petrol,4.70,2012,26428,2017,27.51,engine_fuel,4.181149,1.398317e+07,0.10,203.462289,-14.260456,174,171
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2332,j21246192N,Smart ForFour,economy,petrol,4.38,2017,121239,2018,24.62,wheel_shake,4.608908,1.739222e+07,0.10,141.502350,-6.624534,174,171
2333,h-1554287F,Audi A4,premium,petrol,4.30,2016,107793,2020,70.58,engine_check,4.683793,1.174052e+07,0.10,155.000000,-8.582467,174,169
2334,A15262612g,Kia Rio,economy,petrol,3.88,2015,80234,2019,45.50,gear_stick,4.655345,1.202022e+07,0.10,104.180940,-0.778524,174,172
2335,W-2514493U,Renault Sandero,standart,petrol,4.50,2014,60048,2020,75.48,another_bug,4.638333,1.788307e+07,0.10,200.000000,2.464975,174,171
2336,z-1337463D,VW Polo,economy,petrol,3.94,2015,92312,2016,54.31,engine_check,4.635460,1.981081e+07,0.39,171.000000,-14.151230,174,173

In [ ]:
df = df_[['car_id', 'model']]
df

          car_id              model
0     y13744087j     Kia Rio X-line
1     O41613818T         VW Polo VI
2     d-2109686j    Renault Sandero
3     u29695600e  Mercedes-Benz GLC
4     N-8915870N    Renault Sandero
...          ...                ...
2332  j21246192N      Smart ForFour
2333  h-1554287F            Audi A4
2334  A15262612g            Kia Rio
2335  W-2514493U    Renault Sandero
2336  z-1337463D            VW Polo

[2337 rows x 2 columns]

In [ ]:
links.values

array([['http://www.autonet.ru/auto/ttx/ac_cars/ace'],
       ['http://www.autonet.ru/auto/ttx/ac_cars/aceca'],
       ['http://www.autonet.ru/auto/ttx/ac_cars/cobra'],
       ...,
       ['http://www.autonet.ru/auto/ttx/zx/changling'],
       ['http://www.autonet.ru/auto/ttx/zx/grand_tiger'],
       ['http://www.autonet.ru/auto/ttx/zx/landmark']], dtype=object)

In [ ]:
lik = links[:10]
lik

['http://www.autonet.ru/auto/ttx/ac_cars/ace',
 'http://www.autonet.ru/auto/ttx/ac_cars/aceca',
 'http://www.autonet.ru/auto/ttx/ac_cars/cobra',
 'http://www.autonet.ru/auto/ttx/ac_cars/mamba',
 'http://www.autonet.ru/auto/ttx/acura/cl',
 'http://www.autonet.ru/auto/ttx/acura/csx',
 'http://www.autonet.ru/auto/ttx/acura/el',
 'http://www.autonet.ru/auto/ttx/acura/ilx',
 'http://www.autonet.ru/auto/ttx/acura/integra',
 'http://www.autonet.ru/auto/ttx/acura/mdx']

In [ ]:
mark = 'ac_cars'
model = 'aceca'

for el in lik:
  # print(el)
  if el.find(mark) != -1 and el.find(model) != -1:
    print(el)

http://www.autonet.ru/auto/ttx/ac_cars/aceca

In [ ]:
for el in links.values:
  if el.find('volvo'):
    print('hello')

AttributeError: ignored

In [ ]:
mark, model, *_ = ['vw', 'polo', 'vi', 'fds']

In [ ]:
def find_url(row):
  mark, model, *_ = row['model'].lower().split(' ')

  if mark == 'vw':
    mark = 'volkswagen'
  elif mark == 'bmw' and model == '320i':
    model = '3_series'
  elif mark == 'mini' and model == 'cooper':
    # model = 'clubman'
    model = 'hatch'
  elif mark == 'mercedes-benz' and model == 'e200':
    model = 'e'
    return 'http://www.autonet.ru/auto/ttx/mercedes-benz/e'
  elif mark == 'smart' and model == 'coupe':
    model = 'fortwo'

  # print(row['model'].lower().split(' '))
  for el in links:
    # if 
    if el.find(mark) != -1 and el.find(model) != -1:
      # print(el)
      return el

In [ ]:
df['url'] = df.apply(find_url, axis=1)

<ipython-input-158-8b6a5de1079f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['url'] = df.apply(find_url, axis=1)

In [ ]:
df

,car_id,model,url
0,y13744087j,Kia Rio X-line,http://www.autonet.ru/auto/ttx/kia/rio
1,O41613818T,VW Polo VI,http://www.autonet.ru/auto/ttx/volkswagen/polo
2,d-2109686j,Renault Sandero,http://www.autonet.ru/auto/ttx/renault/sandero
3,u29695600e,Mercedes-Benz GLC,http://www.autonet.ru/auto/ttx/mercedes-benz/glc
4,N-8915870N,Renault Sandero,http://www.autonet.ru/auto/ttx/renault/sandero
...,...,...,...
2332,j21246192N,Smart ForFour,http://www.autonet.ru/auto/ttx/smart/forfour
2333,h-1554287F,Audi A4,http://www.autonet.ru/auto/ttx/audi/a4
2334,A15262612g,Kia Rio,http://www.autonet.ru/auto/ttx/kia/rio
2335,W-2514493U,Renault Sandero,http://www.autonet.ru/auto/ttx/renault/sandero
2336,z-1337463D,VW Polo,http://www.autonet.ru/auto/ttx/volkswagen/polo

In [ ]:
import numpy as np

In [ ]:
df[df['model'] == 'Mercedes-Benz E200']

,car_id,model,url
21,s-1094161i,Mercedes-Benz E200,http://www.autonet.ru/auto/ttx/mercedes-benz/e
216,g25517695C,Mercedes-Benz E200,http://www.autonet.ru/auto/ttx/mercedes-benz/e
247,K-1675111t,Mercedes-Benz E200,http://www.autonet.ru/auto/ttx/mercedes-benz/e
273,b-1571829x,Mercedes-Benz E200,http://www.autonet.ru/auto/ttx/mercedes-benz/e
318,V-1058917A,Mercedes-Benz E200,http://www.autonet.ru/auto/ttx/mercedes-benz/e
370,y11935658q,Mercedes-Benz E200,http://www.autonet.ru/auto/ttx/mercedes-benz/e
508,O21645254m,Mercedes-Benz E200,http://www.autonet.ru/auto/ttx/mercedes-benz/e
524,S11905138M,Mercedes-Benz E200,http://www.autonet.ru/auto/ttx/mercedes-benz/e
803,p-7109749V,Mercedes-Benz E200,http://www.autonet.ru/auto/ttx/mercedes-benz/e
887,P-8581853M,Mercedes-Benz E200,http://www.autonet.ru/auto/ttx/mercedes-benz/e
926,T14802622s,Mercedes-Benz E200,http://www.autonet.ru/auto/ttx/mercedes-benz/e
963,C-1546256l,Mercedes-Benz E200,http://www.autonet.ru/auto/ttx/mercedes-benz/e
1060,B-6025126p,Mercedes-Benz E200,http://www.autonet.ru/auto/ttx/mercedes-benz/e
1106,B11921379d,Mercedes-Benz E200,http://www.autonet.ru/auto/ttx/mercedes-benz/e
1572,V-9605877z,Mercedes-Benz E200,http://www.autonet.ru/auto/ttx/mercedes-benz/e
1596,S13436513x,Mercedes-Benz E200,http://www.autonet.ru/auto/ttx/mercedes-benz/e
1727,t-7837678N,Mercedes-Benz E200,http://www.autonet.ru/auto/ttx/mercedes-benz/e
1786,k56274815U,Mercedes-Benz E200,http://www.autonet.ru/auto/ttx/mercedes-benz/e
1841,i19007345u,Mercedes-Benz E200,http://www.autonet.ru/auto/ttx/mercedes-benz/e
2211,K18176647E,Mercedes-Benz E200,http://www.autonet.ru/auto/ttx/mercedes-benz/e
2247,W15477386C,Mercedes-Benz E200,http://www.autonet.ru/auto/ttx/mercedes-benz/e
2283,A-5101478b,Mercedes-Benz E200,http://www.autonet.ru/auto/ttx/mercedes-benz/e
2331,B-3513567K,Mercedes-Benz E200,http://www.autonet.ru/auto/ttx/mercedes-benz/e

In [ ]:
df

,car_id,model,url
0,y13744087j,Kia Rio X-line,http://www.autonet.ru/auto/ttx/kia/rio
1,O41613818T,VW Polo VI,http://www.autonet.ru/auto/ttx/volkswagen/polo
2,d-2109686j,Renault Sandero,http://www.autonet.ru/auto/ttx/renault/sandero
3,u29695600e,Mercedes-Benz GLC,http://www.autonet.ru/auto/ttx/mercedes-benz/glc
4,N-8915870N,Renault Sandero,http://www.autonet.ru/auto/ttx/renault/sandero
...,...,...,...
2332,j21246192N,Smart ForFour,http://www.autonet.ru/auto/ttx/smart/forfour
2333,h-1554287F,Audi A4,http://www.autonet.ru/auto/ttx/audi/a4
2334,A15262612g,Kia Rio,http://www.autonet.ru/auto/ttx/kia/rio
2335,W-2514493U,Renault Sandero,http://www.autonet.ru/auto/ttx/renault/sandero
2336,z-1337463D,VW Polo,http://www.autonet.ru/auto/ttx/volkswagen/polo

In [ ]:
df_n = df[df.isnull().any(1)]

<ipython-input-142-15dd849301ab>:1: FutureWarning: In a future version of pandas all arguments of DataFrame.any and Series.any will be keyword-only.
  df_n = df[df.isnull().any(1)]

In [ ]:
df.fillna(np.nan, inplace=True)

<ipython-input-149-b65dbeca22c8>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.fillna(np.nan, inplace=True)

In [ ]:
df_n

          car_id             model  url
7     O-2124190y     Tesla Model 3  NaN
69    F-1720906M  Volkswagen ID.4   NaN
99    n19871201N     Tesla Model 3  NaN
187   I13914989Z     Tesla Model 3  NaN
192   u-2070489i  Volkswagen ID.4   NaN
218   g-2283000q     Tesla Model 3  NaN
225   N10423478l     MINI CooperSE  NaN
344   R-7424780C     MINI CooperSE  NaN
375   A-1737634s     MINI CooperSE  NaN
425   g-6471498I     MINI CooperSE  NaN
473   J-1264842C     MINI CooperSE  NaN
486   s-1243339h     MINI CooperSE  NaN
488   P-1412506Z  Volkswagen ID.4   NaN
505   i-1106718P     Tesla Model 3  NaN
518   g-7424670L  Volkswagen ID.4   NaN
607   J38284226P  Volkswagen ID.4   NaN
655   o-1093440v     MINI CooperSE  NaN
685   I-2073229s     Tesla Model 3  NaN
723   U-7130411Q     MINI CooperSE  NaN
734   c53045565g  Volkswagen ID.4   NaN
870   b-2298403w     MINI CooperSE  NaN
909   H-1289656m  Volkswagen ID.4   NaN
1014  j18433975f  Volkswagen ID.4   NaN
1120  N44849090k     Tesla Model 3  NaN
1123  N-1337765t  Volkswagen ID.4   NaN
1153  V46220162X     MINI CooperSE  NaN
1192  T20813001U     Tesla Model 3  NaN
1209  l13569942Y  Volkswagen ID.4   NaN
1245  O-2688441F     Tesla Model 3  NaN
1297  M13557782G     MINI CooperSE  NaN
1367  k25002330L     MINI CooperSE  NaN
1447  p22133368b     Tesla Model 3  NaN
1470  Z12282683t     MINI CooperSE  NaN
1659  y22394536i  Volkswagen ID.4   NaN
1661  T19756755G     Tesla Model 3  NaN
1700  P17182864p     MINI CooperSE  NaN
1702  v22568580b     Tesla Model 3  NaN
1720  z14411100u  Volkswagen ID.4   NaN
1770  w-1727439L     MINI CooperSE  NaN
1809  l-1177682G     Tesla Model 3  NaN
1822  o61274518L     MINI CooperSE  NaN
1867  h-1921200Q     Tesla Model 3  NaN
1939  C11147530X     MINI CooperSE  NaN
1943  n21219044S  Volkswagen ID.4   NaN
1961  L12695976N     MINI CooperSE  NaN
1974  l-1349820J     MINI CooperSE  NaN
2046  O-7679980f     MINI CooperSE  NaN
2131  Y-2287594M     MINI CooperSE  NaN

In [ ]:
df.isnull().any()

car_id    False
model     False
url        True
dtype: bool

In [ ]:
df_n['model'].unique()

array(['Tesla Model 3', 'Volkswagen ID.4 ', 'MINI CooperSE'], dtype=object)

In [ ]:
df.to_csv('df53.csv', index=False)

In [ ]:
df['model'][10:26]

10               VW Polo
11            VW Polo VI
12               Kia Rio
13           Skoda Rapid
14           Smart Coupe
15             VW Tiguan
16             VW Tiguan
17           Skoda Rapid
18          Smart ForTwo
19          Smart ForTwo
20             Kia Rio X
21    Mercedes-Benz E200
22        Nissan Qashqai
23          Smart ForTwo
24        Renault Kaptur
25           Mini Cooper
Name: model, dtype: object

In [ ]:
links[1000:1200]

['http://www.autonet.ru/auto/ttx/maserati/3200gt',
 'http://www.autonet.ru/auto/ttx/maserati/4200gt',
 'http://www.autonet.ru/auto/ttx/maserati/ghibli',
 'http://www.autonet.ru/auto/ttx/maserati/gransport',
 'http://www.autonet.ru/auto/ttx/maserati/granturismo',
 'http://www.autonet.ru/auto/ttx/maserati/levante',
 'http://www.autonet.ru/auto/ttx/maserati/quattroporte',
 'http://www.autonet.ru/auto/ttx/maserati/spyder',
 'http://www.autonet.ru/auto/ttx/maybach/57',
 'http://www.autonet.ru/auto/ttx/maybach/62',
 'http://www.autonet.ru/auto/ttx/maybach/landaulet',
 'http://www.autonet.ru/auto/ttx/mazda/121',
 'http://www.autonet.ru/auto/ttx/mazda/2',
 'http://www.autonet.ru/auto/ttx/mazda/3',
 'http://www.autonet.ru/auto/ttx/mazda/323',
 'http://www.autonet.ru/auto/ttx/mazda/5',
 'http://www.autonet.ru/auto/ttx/mazda/6',
 'http://www.autonet.ru/auto/ttx/mazda/626',
 'http://www.autonet.ru/auto/ttx/mazda/929',
 'http://www.autonet.ru/auto/ttx/mazda/allegro',
 'http://www.autonet.ru/auto/ttx/mazda/atenza',
 'http://www.autonet.ru/auto/ttx/mazda/axela',
 'http://www.autonet.ru/auto/ttx/mazda/az',
 'http://www.autonet.ru/auto/ttx/mazda/biante',
 'http://www.autonet.ru/auto/ttx/mazda/bongo',
 'http://www.autonet.ru/auto/ttx/mazda/bongo_friendee',
 'http://www.autonet.ru/auto/ttx/mazda/b-series',
 'http://www.autonet.ru/auto/ttx/mazda/bt-50',
 'http://www.autonet.ru/auto/ttx/mazda/capella',
 'http://www.autonet.ru/auto/ttx/mazda/carol',
 'http://www.autonet.ru/auto/ttx/mazda/cx-5',
 'http://www.autonet.ru/auto/ttx/mazda/cx-7',
 'http://www.autonet.ru/auto/ttx/mazda/cx-9',
 'http://www.autonet.ru/auto/ttx/mazda/demio',
 'http://www.autonet.ru/auto/ttx/mazda/familia',
 'http://www.autonet.ru/auto/ttx/mazda/levante',
 'http://www.autonet.ru/auto/ttx/mazda/millenia',
 'http://www.autonet.ru/auto/ttx/mazda/mpv',
 'http://www.autonet.ru/auto/ttx/mazda/mx-3',
 'http://www.autonet.ru/auto/ttx/mazda/mx-5',
 'http://www.autonet.ru/auto/ttx/mazda/mx-6',
 'http://www.autonet.ru/auto/ttx/mazda/premacy',
 'http://www.autonet.ru/auto/ttx/mazda/proceed_marvie',
 'http://www.autonet.ru/auto/ttx/mazda/protege',
 'http://www.autonet.ru/auto/ttx/mazda/rx-7',
 'http://www.autonet.ru/auto/ttx/mazda/rx-8',
 'http://www.autonet.ru/auto/ttx/mazda/scrum',
 'http://www.autonet.ru/auto/ttx/mazda/tribute',
 'http://www.autonet.ru/auto/ttx/mazda/verisa',
 'http://www.autonet.ru/auto/ttx/mazda/xedos_6',
 'http://www.autonet.ru/auto/ttx/mazda/xedos_9',
 'http://www.autonet.ru/auto/ttx/mclaren/f1',
 'http://www.autonet.ru/auto/ttx/mercedes-benz/230',
 'http://www.autonet.ru/auto/ttx/mercedes-benz/a',
 'http://www.autonet.ru/auto/ttx/mercedes-benz/amg_gt',
 'http://www.autonet.ru/auto/ttx/mercedes-benz/b',
 'http://www.autonet.ru/auto/ttx/mercedes-benz/c',
 'http://www.autonet.ru/auto/ttx/mercedes-benz/citan',
 'http://www.autonet.ru/auto/ttx/mercedes-benz/cl',
 'http://www.autonet.ru/auto/ttx/mercedes-benz/cla',
 'http://www.autonet.ru/auto/ttx/mercedes-benz/clc',
 'http://www.autonet.ru/auto/ttx/mercedes-benz/clk',
 'http://www.autonet.ru/auto/ttx/mercedes-benz/cls',
 'http://www.autonet.ru/auto/ttx/mercedes-benz/e',
 'http://www.autonet.ru/auto/ttx/mercedes-benz/g',
 'http://www.autonet.ru/auto/ttx/mercedes-benz/gl',
 'http://www.autonet.ru/auto/ttx/mercedes-benz/gla',
 'http://www.autonet.ru/auto/ttx/mercedes-benz/glc',
 'http://www.autonet.ru/auto/ttx/mercedes-benz/gle',
 'http://www.autonet.ru/auto/ttx/mercedes-benz/glk',
 'http://www.autonet.ru/auto/ttx/mercedes-benz/m',
 'http://www.autonet.ru/auto/ttx/mercedes-benz/r',
 'http://www.autonet.ru/auto/ttx/mercedes-benz/s',
 'http://www.autonet.ru/auto/ttx/mercedes-benz/sl',
 'http://www.autonet.ru/auto/ttx/mercedes-benz/slk',
 'http://www.autonet.ru/auto/ttx/mercedes-benz/slr',
 'http://www.autonet.ru/auto/ttx/mercedes-benz/sls',
 'http://www.autonet.ru/auto/ttx/mercedes-benz/sprinter',
 'http://www.autonet.ru/auto/ttx/mercedes-benz/v',
 'http://www.autonet.ru/auto/ttx/mercedes-benz/vaneo',
 'http://www.autonet.ru/auto/ttx/mercedes-benz/viano',
 'http://www.autonet.ru/auto/ttx/mercedes-benz/vito',
 'http://www.autonet.ru/auto/ttx/mercury/cougar',
 'http://www.autonet.ru/auto/ttx/mercury/grand_marquis',
 'http://www.autonet.ru/auto/ttx/mercury/mariner',
 'http://www.autonet.ru/auto/ttx/mercury/milan',
 'http://www.autonet.ru/auto/ttx/mercury/montego',
 'http://www.autonet.ru/auto/ttx/mercury/monterey',
 'http://www.autonet.ru/auto/ttx/mercury/mountaineer',
 'http://www.autonet.ru/auto/ttx/mercury/mystique',
 'http://www.autonet.ru/auto/ttx/mercury/sable',
 'http://www.autonet.ru/auto/ttx/mercury/tracer',
 'http://www.autonet.ru/auto/ttx/mercury/villager',
 'http://www.autonet.ru/auto/ttx/mg/3',
 'http://www.autonet.ru/auto/ttx/mg/350',
 'http://www.autonet.ru/auto/ttx/mg/5',
 'http://www.autonet.ru/auto/ttx/mg/550',
 'http://www.autonet.ru/auto/ttx/mg/6',
 'http://www.autonet.ru/auto/ttx/mg/7',
 'http://www.autonet.ru/auto/ttx/mg/750',
 'http://www.autonet.ru/auto/ttx/mg/express',
 'http://www.autonet.ru/auto/ttx/mg/f',
 'http://www.autonet.ru/auto/ttx/mg/tf',
 'http://www.autonet.ru/auto/ttx/mg/xpower_sv',
 'http://www.autonet.ru/auto/ttx/mg/zr',
 'http://www.autonet.ru/auto/ttx/mg/zs',
 'http://www.autonet.ru/auto/ttx/mg/zt',
 'http://www.autonet.ru/auto/ttx/mini/cabrio',
 'http://www.autonet.ru/auto/ttx/mini/clubman',
 'http://www.autonet.ru/auto/ttx/mini/clubvan',
 'http://www.autonet.ru/auto/ttx/mini/countryman',
 'http://www.autonet.ru/auto/ttx/mini/coupe',
 'http://www.autonet.ru/auto/ttx/mini/hatch',
 'http://www.autonet.ru/auto/ttx/mini/paceman',
 'http://www.autonet.ru/auto/ttx/mini/roadster',
 'http://www.autonet.ru/auto/ttx/mitsubishi/3000_gt',
 'http://www.autonet.ru/auto/ttx/mitsubishi/380',
 'http://www.autonet.ru/auto/ttx/mitsubishi/airtrek',
 'http://www.autonet.ru/auto/ttx/mitsubishi/aspire',
 'http://www.autonet.ru/auto/ttx/mitsubishi/asx',
 'http://www.autonet.ru/auto/ttx/mitsubishi/bravo',
 'http://www.autonet.ru/auto/ttx/mitsubishi/carisma',
 'http://www.autonet.ru/auto/ttx/mitsubishi/challenger',
 'http://www.autonet.ru/auto/ttx/mitsubishi/chariot',
 'http://www.autonet.ru/auto/ttx/mitsubishi/colt',
 'http://www.autonet.ru/auto/ttx/mitsubishi/debonair',
 'http://www.autonet.ru/auto/ttx/mitsubishi/delica',
 'http://www.autonet.ru/auto/ttx/mitsubishi/diamante',
 'http://www.autonet.ru/auto/ttx/mitsubishi/dingo',
 'http://www.autonet.ru/auto/ttx/mitsubishi/dion',
 'http://www.autonet.ru/auto/ttx/mitsubishi/eclipse',
 'http://www.autonet.ru/auto/ttx/mitsubishi/eclipse_cross',
 'http://www.autonet.ru/auto/ttx/mitsubishi/ek',
 'http://www.autonet.ru/auto/ttx/mitsubishi/emeraude',
 'http://www.autonet.ru/auto/ttx/mitsubishi/endeavor',
 'http://www.autonet.ru/auto/ttx/mitsubishi/fto',
 'http://www.autonet.ru/auto/ttx/mitsubishi/galant',
 'http://www.autonet.ru/auto/ttx/mitsubishi/grandis',
 'http://www.autonet.ru/auto/ttx/mitsubishi/i',
 'http://www.autonet.ru/auto/ttx/mitsubishi/i-miev',
 'http://www.autonet.ru/auto/ttx/mitsubishi/l200',
 'http://www.autonet.ru/auto/ttx/mitsubishi/l300',
 'http://www.autonet.ru/auto/ttx/mitsubishi/l400',
 'http://www.autonet.ru/auto/ttx/mitsubishi/lancer',
 'http://www.autonet.ru/auto/ttx/mitsubishi/legnum',
 'http://www.autonet.ru/auto/ttx/mitsubishi/libero',
 'http://www.autonet.ru/auto/ttx/mitsubishi/magna',
 'http://www.autonet.ru/auto/ttx/mitsubishi/minica',
 'http://www.autonet.ru/auto/ttx/mitsubishi/mirage',
 'http://www.autonet.ru/auto/ttx/mitsubishi/montero',
 'http://www.autonet.ru/auto/ttx/mitsubishi/montero_sport',
 'http://www.autonet.ru/auto/ttx/mitsubishi/outlander',
 'http://www.autonet.ru/auto/ttx/mitsubishi/pajero',
 'http://www.autonet.ru/auto/ttx/mitsubishi/pajero_io',
 'http://www.autonet.ru/auto/ttx/mitsubishi/pajero_junior',
 'http://www.autonet.ru/auto/ttx/mitsubishi/pajero_mini',
 'http://www.autonet.ru/auto/ttx/mitsubishi/pajero_pinin',
 'http://www.autonet.ru/auto/ttx/mitsubishi/pajero_sport',
 'http://www.autonet.ru/auto/ttx/mitsubishi/raider',
 'http://www.autonet.ru/auto/ttx/mitsubishi/rvr',
 'http://www.autonet.ru/auto/ttx/mitsubishi/shogun',
 'http://www.autonet.ru/auto/ttx/mitsubishi/shogun_mini',
 'http://www.autonet.ru/auto/ttx/mitsubishi/shogun_sport',
 'http://www.autonet.ru/auto/ttx/mitsubishi/space_gear',
 'http://www.autonet.ru/auto/ttx/mitsubishi/space_runner',
 'http://www.autonet.ru/auto/ttx/mitsubishi/space_star',
 'http://www.autonet.ru/auto/ttx/mitsubishi/space_wagon',
 'http://www.autonet.ru/auto/ttx/mitsubishi/town_box',
 'http://www.autonet.ru/auto/ttx/mitsubishi/triton',
 'http://www.autonet.ru/auto/ttx/morgan/4_seater',
 'http://www.autonet.ru/auto/ttx/morgan/4_4_sport',
 'http://www.autonet.ru/auto/ttx/morgan/aero_8',
 'http://www.autonet.ru/auto/ttx/morgan/aero_supersports',
 'http://www.autonet.ru/auto/ttx/morgan/aeromax',
 'http://www.autonet.ru/auto/ttx/morgan/eva_gt',
 'http://www.autonet.ru/auto/ttx/morgan/plus_4',
 'http://www.autonet.ru/auto/ttx/morgan/plus_8',
 'http://www.autonet.ru/auto/ttx/morgan/roadster_v6',
 'http://www.autonet.ru/auto/ttx/nissan/200_sx',
 'http://www.autonet.ru/auto/ttx/nissan/ad',
 'http://www.autonet.ru/auto/ttx/nissan/almera',
 'http://www.autonet.ru/auto/ttx/nissan/almera_tino',
 'http://www.autonet.ru/auto/ttx/nissan/altima',
 'http://www.autonet.ru/auto/ttx/nissan/armada',
 'http://www.autonet.ru/auto/ttx/nissan/avenir',
 'http://www.autonet.ru/auto/ttx/nissan/bassara',
 'http://www.autonet.ru/auto/ttx/nissan/bluebird',
 'http://www.autonet.ru/auto/ttx/nissan/bluebird_sylphy',
 'http://www.autonet.ru/auto/ttx/nissan/cabstar',
 'http://www.autonet.ru/auto/ttx/nissan/caravan',
 'http://www.autonet.ru/auto/ttx/nissan/cedric',
 'http://www.autonet.ru/auto/ttx/nissan/cefiro',
 'http://www.autonet.ru/auto/ttx/nissan/cima',
 'http://www.autonet.ru/auto/ttx/nissan/clipper',
 'http://www.autonet.ru/auto/ttx/nissan/cube',
 'http://www.autonet.ru/auto/ttx/nissan/elgrand',
 'http://www.autonet.ru/auto/ttx/nissan/expert',
 'http://www.autonet.ru/auto/ttx/nissan/fairlady_z',
 'http://www.autonet.ru/auto/ttx/nissan/frontier',
 'http://www.autonet.ru/auto/ttx/nissan/fuga']

In [ ]:
df.iloc[29]

car_id                                          m-8965256V
model                                            VW Tiguan
url       http://www.autonet.ru/auto/ttx/volkswagen/tiguan
Name: 29, dtype: object

In [ ]:
df['model'].values[0: 100]

array(['Kia Rio X-line', 'VW Polo VI', 'Renault Sandero',
       'Mercedes-Benz GLC', 'Renault Sandero', 'Skoda Rapid',
       'Nissan Qashqai', 'Tesla Model 3', 'Kia Sportage', 'Smart ForFour',
       'VW Polo', 'VW Polo VI', 'Kia Rio', 'Skoda Rapid', 'Smart Coupe',
       'VW Tiguan', 'VW Tiguan', 'Skoda Rapid', 'Smart ForTwo',
       'Smart ForTwo', 'Kia Rio X', 'Mercedes-Benz E200',
       'Nissan Qashqai', 'Smart ForTwo', 'Renault Kaptur', 'Mini Cooper',
       'Kia Sportage', 'Kia Rio', 'Nissan Qashqai', 'VW Tiguan',
       'Renault Sandero', 'Hyundai Solaris', 'Kia Rio X', 'Smart ForTwo',
       'Smart ForTwo', 'VW Polo VI', 'Skoda Rapid', 'VW Polo VI',
       'Hyundai Solaris', 'Renault Kaptur', 'Kia Sportage', 'Kia Rio X',
       'VW Tiguan', 'Kia Rio X', 'Nissan Qashqai', 'Hyundai Solaris',
       'VW Tiguan', 'Skoda Rapid', 'Kia Rio', 'Kia Rio X', 'Skoda Rapid',
       'Smart ForFour', 'Renault Kaptur', 'Kia Rio X', 'Renault Kaptur',
       'Skoda Rapid', 'Hyundai Solaris', 'VW Polo', 'Kia Rio X',
       'Renault Sandero', 'Renault Sandero', 'Kia Sportage',
       'Nissan Qashqai', 'Kia Rio X', 'Smart ForTwo', 'VW Polo VI',
       'Smart Coupe', 'VW Polo', 'Smart ForTwo', 'Volkswagen ID.4 ',
       'Kia Sportage', 'VW Polo', 'Kia Sportage', 'Hyundai Solaris',
       'Kia Rio', 'Smart ForTwo', 'Hyundai Solaris', 'Smart ForTwo',
       'Kia Rio X-line', 'VW Tiguan', 'Hyundai Solaris', 'Kia Rio',
       'Skoda Rapid', 'VW Polo VI', 'Mini Cooper', 'Renault Sandero',
       'Skoda Rapid', 'Smart Coupe', 'Kia Rio X', 'Hyundai Solaris',
       'VW Polo VI', 'Kia Rio', 'Smart ForFour', 'Kia Rio', 'Kia Rio X',
       'Kia Rio X', 'Smart ForFour', 'VW Polo', 'Smart ForFour',
       'Tesla Model 3'], dtype=object)

In [ ]:
df.to_csv('df_1.csv', index=False)

# 7.2.9

In [ ]:
from bs4 import BeautifulSoup
import requests

In [ ]:
url = 'http://www.autonet.ru/auto/ttx/ac_cars/ace'

In [ ]:
page = requests.get(url)

In [ ]:
print(page.status_code)

200

In [ ]:
soup = BeautifulSoup(page.text, "html.parser")

In [ ]:
# print(soup)

In [ ]:
table = soup.findAll('table', class_='mod-list-table')
table

[<table class="mod-list-table">
 <tbody>
 <tr>
 <th class="mod">
                         Марка и модификация
                     </th>
 <th class="carcass">
                         Тип кузова
                     </th>
 <th class="volume">
                         Объем
                     </th>
 <th class="power">
                         Мощность
                     </th>
 <th class="edition">
                         Выпуск
                     </th>
 </tr>
 <tr>
 <td class="mod">
 <a href="/auto/ttx/ac_cars/ace/270158">AC Cars Ace 3.5</a>
 </td>
 <td class="carcass">
                             кабриолет (2 дв.)
                         </td>
 <td class="volume">
                             3506 см3
                         </td>
 <td class="power">
                             354 л.с.
                         </td>
 <td class="edition nomonth">
                             1998 - 2001
                         </td>
 </tr>
 <tr>
 <td class="mod">
 <a href="/auto/ttx/ac_cars/ace/269736">AC Cars Ace 4.6</a>
 </td>
 <td class="carcass">
                             кабриолет (2 дв.)
                         </td>
 <td class="volume">
                             4601 см3
                         </td>
 <td class="power">
                             307 л.с.
                         </td>
 <td class="edition nomonth">
                             1998 - 2001
                         </td>
 </tr>
 <tr>
 <td class="mod">
 <a href="/auto/ttx/ac_cars/ace/270180">AC Cars Ace 4.6</a>
 </td>
 <td class="carcass">
                             кабриолет (2 дв.)
                         </td>
 <td class="volume">
                             4601 см3
                         </td>
 <td class="power">
                             326 л.с.
                         </td>
 <td class="edition nomonth">
                             1997 - 2001
                         </td>
 </tr>
 <tr>
 <td class="mod">
 <a href="/auto/ttx/ac_cars/ace/269594">AC Cars Ace 4.9</a>
 </td>
 <td class="carcass">
                             кабриолет (2 дв.)
                         </td>
 <td class="volume">
                             4942 см3
                         </td>
 <td class="power">
                             326 л.с.
                         </td>
 <td class="edition nomonth">
                             1997 - 2001
                         </td>
 </tr>
 <tr>
 <td class="mod">
 <a href="/auto/ttx/ac_cars/ace/269595">AC Cars Ace 4.9</a>
 </td>
 <td class="carcass">
                             кабриолет (2 дв.)
                         </td>
 <td class="volume">
                             4942 см3
                         </td>
 <td class="power">
                             243 л.с.
                         </td>
 <td class="edition nomonth">
                             1997 - 2001
                         </td>
 </tr>
 </tbody>
 </table>]

In [ ]:
table.findAll('td')

AttributeError: ignored

In [ ]:
film_info = {
    'title': soup.find('h1', itemprop='name').find('span').text,
    'title-original': soup.find('span', class_=lambda s: s and s.startswith('styles_originalTitle__')).text,
    'rating': float(soup.find('a', {'class': 'film-rating-value'}).text), 
    'description': '\n'.join(map(attrgetter('text'), desc))
}

In [ ]:
type(soup.findAll('table', class_='mod-list-table'))

bs4.element.ResultSet

In [ ]:
soup.findAll('td', class_='carcass')

[<td class="carcass">
                             кабриолет (2 дв.)
                         </td>,
 <td class="carcass">
                             кабриолет (2 дв.)
                         </td>,
 <td class="carcass">
                             кабриолет (2 дв.)
                         </td>,
 <td class="carcass">
                             кабриолет (2 дв.)
                         </td>,
 <td class="carcass">
                             кабриолет (2 дв.)
                         </td>]

In [ ]:
soup.findAll('td', {'class': 'carcass'})

[<td class="carcass">
                             кабриолет (2 дв.)
                         </td>,
 <td class="carcass">
                             кабриолет (2 дв.)
                         </td>,
 <td class="carcass">
                             кабриолет (2 дв.)
                         </td>,
 <td class="carcass">
                             кабриолет (2 дв.)
                         </td>,
 <td class="carcass">
                             кабриолет (2 дв.)
                         </td>]

## weather

In [ ]:
url = 'http://weatherarchive.ru/Temperature/Moscow/{month}-{year}'
months = ['January', 'February', 'March', 'April', 'May', 'June', 'July',
          'August', 'September', 'October', 'November', 'December']

years = [2020, 2021, 2022]

In [ ]:
def parse_table(table):
    res = {'temp': [],
           'wet': [],
           'p': [],
           'wind': []}
    
    tags = table.findAll('td')
    print('tags', tags)
    k = 0
    for tag in tags:
        if tag.find('a') is not None:
            continue
            
        if k == 0:
            k += 1
            res['temp'].append(float(tag.text.replace('°C', '').replace('+','').replace('−','-')))
        elif k == 1:
            k += 1
            res['wet'].append(float(tag.text.replace('%','')))
        elif k == 2:
            k += 1
            res['p'].append(int(tag.text))
        else:
            k = 0
            res['wind'].append(int(tag.text.replace(' м/с', '')))
    return res

In [ ]:
def parse_url(url):
    page = requests.get(url)
    soup = BeautifulSoup(page.text, "html.parser")

    tables = soup.findAll('table', class_='smart')
    # return tables
    for table in tables:
        if 'Среднесуточная' in str(table):
            return table
            # return parse_table(table)

In [ ]:
# url = 'http://weatherarchive.ru/Temperature/Moscow/June-2022'
# page = requests.get(url)
# soup_weather = BeautifulSoup(page.text, "html.parser")
# table_w = soup.findAll('table', class_='smart')

In [ ]:
table_w = parse_url(url.format(month=months[0], year=years[0]))

In [ ]:
# tables_w = parse_url(url.format(month=months[0], year=years[0]))

# tables_w

In [ ]:
str(table_w)

'[<table class="smart" style="float:right; margin-left:10px;"><tr><th width="350">Содержание</th></tr><tr><td class="block_link" style="text-align: left;"><nobr><a href="#1" style="text-decoration: none;">–&gt; График температуры</a></nobr></td></tr><tr class="odd"><td class="block_link" style="text-align: left;"><a href="#2" style="text-decoration: none;">–&gt; График влажности</a></td></tr><tr><td class="block_link" style="text-align: left;"><a href="#3" style="text-decoration: none;">–&gt; Роза ветров</a></td></tr><tr class="odd"><td class="block_link" style="text-align: left;"><a href="#4" style="text-decoration: none;">–&gt; Таблица погоды</a></td></tr><tr><td class="block_link" style="text-align: left;"><a href="#5" style="text-decoration: none;">–&gt; Средние значения, минимумы и максимумы</a></td></tr><tr class="odd"><td class="block_link" style="text-align: left;"><a href="#6" style="text-decoration: none;">–&gt; График температуры в январе в разные годы</a></td></tr><tr><td class="block_link" style="text-align: left;"><a href="#7" style="text-decoration: none;">–&gt; История погоды в январе за 1999-2023 годы</a></td></tr></table>, <table class="smart" style="float:right; margin: 5px 25px 0px 0px; max-width:270px;"><tr><th colspan="3">Роза ветров в Москве в январе 2020 года</th></tr><tr><th colspan="2">Направление</th><th>Частота</th></tr><tr><td><img height="16" src="/images/Wind/n.png" width="16"/></td><td>Северный</td><td>2.9%</td></tr><tr class="odd"><td><img height="16" src="/images/Wind/ne.png" width="16"/></td><td>Северо-восточный</td><td>1.6%</td></tr><tr><td><img height="16" src="/images/Wind/e.png" width="16"/></td><td>Восточный</td><td>5.3%</td></tr><tr class="odd"><td><img height="16" src="/images/Wind/se.png" width="16"/></td><td>Юго-восточный</td><td>4.5%</td></tr><tr><td><img height="16" src="/images/Wind/s.png" width="16"/></td><td>Южный</td><td>2.9%</td></tr><tr class="odd"><td><img height="16" src="/images/Wind/sw.png" width="16"/></td><td>Юго-западный</td><td>33.1%</td></tr><tr><td><img height="16" src="/images/Wind/w.png" width="16"/></td><td>Западный</td><td>38%</td></tr><tr class="odd"><td><img height="16" src="/images/Wind/nw.png" width="16"/></td><td>Северо-западный</td><td>11.8%</td></tr></table>, <table class="smart"> <tr><th>День<br/>месяца</th>\n<th>Среднесуточная<br/>температура</th>\n<th>Средняя<br/>влажность</th>\n<th>Атмосферное<br/>давление</th>\n<th>Скорость<br/>ветра</th></tr><tr><td><a href="http://weatherarchive.ru/Moscow/1-January-2020" hreflang="ru" title="Погода в Москве 1 января 2020 года">1 января</a></td><td>−2.25°C</td>\n<td>82.86%</td>\n<td>741</td>\n<td>5 м/с</td></tr><tr class="odd"><td><a href="http://weatherarchive.ru/Moscow/2-January-2020" hreflang="ru" title="Погода в Москве 2 января 2020 года">2 января</a></td><td>−1.49°C</td>\n<td>91.00%</td>\n<td>743</td>\n<td>4 м/с</td></tr><tr><td><a href="http://weatherarchive.ru/Moscow/3-January-2020" hreflang="ru" title="Погода в Москве 3 января 2020 года">3 января</a></td><td>−0.27°C</td>\n<td>90.00%</td>\n<td>743</td>\n<td>4 м/с</td></tr><tr class="odd"><td><a href="http://weatherarchive.ru/Moscow/4-January-2020" hreflang="ru" title="Погода в Москве 4 января 2020 года">4 января</a></td><td>−2.67°C</td>\n<td>87.14%</td>\n<td>736</td>\n<td>4 м/с</td></tr><tr><td><a href="http://weatherarchive.ru/Moscow/5-January-2020" hreflang="ru" title="Погода в Москве 5 января 2020 года">5 января</a></td><td>−1.52°C</td>\n<td>83.57%</td>\n<td>744</td>\n<td>3 м/с</td></tr><tr class="odd"><td><a href="http://weatherarchive.ru/Moscow/6-January-2020" hreflang="ru" title="Погода в Москве 6 января 2020 года">6 января</a></td><td>−2.64°C</td>\n<td>83.86%</td>\n<td>754</td>\n<td>2 м/с</td></tr><tr><td><a href="http://weatherarchive.ru/Moscow/7-January-2020" hreflang="ru" title="Погода в Москве 7 января 2020 года">7 января</a></td><td>−3.24°C</td>\n<td>86.29%</td>\n<td>754</td>\n<td>3 м/с</td></tr><tr class="odd"><td><a href="http://weatherarchive.ru/Moscow/8-January-2020" hreflang="ru" title="Погода в Москве 8 января 2020 года">8 января</a></td><td>−1.28°C</td>\n<td>89.29%</td>\n<td>752</td>\n<td>4 м/с</td></tr><tr><td><a href="http://weatherarchive.ru/Moscow/9-January-2020" hreflang="ru" title="Погода в Москве 9 января 2020 года">9 января</a></td><td>−1.11°C</td>\n<td>89.43%</td>\n<td>744</td>\n<td>4 м/с</td></tr><tr class="odd"><td><a href="http://weatherarchive.ru/Moscow/10-January-2020" hreflang="ru" title="Погода в Москве 10 января 2020 года">10 января</a></td><td>−0.48°C</td>\n<td>89.00%</td>\n<td>747</td>\n<td>2 м/с</td></tr><tr><td><a href="http://weatherarchive.ru/Moscow/11-January-2020" hreflang="ru" title="Погода в Москве 11 января 2020 года">11 января</a></td><td>−1.92°C</td>\n<td>92.86%</td>\n<td>748</td>\n<td>2 м/с</td></tr><tr class="odd"><td><a href="http://weatherarchive.ru/Moscow/12-January-2020" hreflang="ru" title="Погода в Москве 12 января 2020 года">12 января</a></td><td>−4.71°C</td>\n<td>83.50%</td>\n<td>746</td>\n<td>5 м/с</td></tr><tr><td><a href="http://weatherarchive.ru/Moscow/13-January-2020" hreflang="ru" title="Погода в Москве 13 января 2020 года">13 января</a></td><td>−0.24°C</td>\n<td>89.29%</td>\n<td>742</td>\n<td>4 м/с</td></tr><tr class="odd"><td><a href="http://weatherarchive.ru/Moscow/14-January-2020" hreflang="ru" title="Погода в Москве 14 января 2020 года">14 января</a></td><td>−1.3°C</td>\n<td>89.57%</td>\n<td>751</td>\n<td>2 м/с</td></tr><tr><td><a href="http://weatherarchive.ru/Moscow/15-January-2020" hreflang="ru" title="Погода в Москве 15 января 2020 года">15 января</a></td><td>−0.11°C</td>\n<td>86.86%</td>\n<td>752</td>\n<td>6 м/с</td></tr><tr class="odd"><td><a href="http://weatherarchive.ru/Moscow/16-January-2020" hreflang="ru" title="Погода в Москве 16 января 2020 года">16 января</a></td><td>+1.05°C</td>\n<td>85.83%</td>\n<td>749</td>\n<td>6 м/с</td></tr><tr><td><a href="http://weatherarchive.ru/Moscow/17-January-2020" hreflang="ru" title="Погода в Москве 17 января 2020 года">17 января</a></td><td>+1.49°C</td>\n<td>89.29%</td>\n<td>754</td>\n<td>3 м/с</td></tr><tr class="odd"><td><a href="http://weatherarchive.ru/Moscow/18-January-2020" hreflang="ru" title="Погода в Москве 18 января 2020 года">18 января</a></td><td>−0.35°C</td>\n<td>90.29%</td>\n<td>754</td>\n<td>3 м/с</td></tr><tr><td><a href="http://weatherarchive.ru/Moscow/19-January-2020" hreflang="ru" title="Погода в Москве 19 января 2020 года">19 января</a></td><td>−2.05°C</td>\n<td>86.86%</td>\n<td>755</td>\n<td>3 м/с</td></tr><tr class="odd"><td><a href="http://weatherarchive.ru/Moscow/20-January-2020" hreflang="ru" title="Погода в Москве 20 января 2020 года">20 января</a></td><td>−0.19°C</td>\n<td>88.57%</td>\n<td>754</td>\n<td>5 м/с</td></tr><tr><td><a href="http://weatherarchive.ru/Moscow/21-January-2020" hreflang="ru" title="Погода в Москве 21 января 2020 года">21 января</a></td><td>+0.66°C</td>\n<td>89.14%</td>\n<td>741</td>\n<td>6 м/с</td></tr><tr class="odd"><td><a href="http://weatherarchive.ru/Moscow/22-January-2020" hreflang="ru" title="Погода в Москве 22 января 2020 года">22 января</a></td><td>−0.95°C</td>\n<td>80.29%</td>\n<td>735</td>\n<td>5 м/с</td></tr><tr><td><a href="http://weatherarchive.ru/Moscow/23-January-2020" hreflang="ru" title="Погода в Москве 23 января 2020 года">23 января</a></td><td>−5.47°C</td>\n<td>73.00%</td>\n<td>741</td>\n<td>5 м/с</td></tr><tr class="odd"><td><a href="http://weatherarchive.ru/Moscow/24-January-2020" hreflang="ru" title="Погода в Москве 24 января 2020 года">24 января</a></td><td>−4.4°C</td>\n<td>89.14%</td>\n<td>739</td>\n<td>5 м/с</td></tr><tr><td><a href="http://weatherarchive.ru/Moscow/25-January-2020" hreflang="ru" title="Погода в Москве 25 января 2020 года">25 января</a></td><td>−0.58°C</td>\n<td>86.00%</td>\n<td>735</td>\n<td>5 м/с</td></tr><tr class="odd"><td><a href="http://weatherarchive.ru/Moscow/26-January-2020" hreflang="ru" title="Погода в Москве 26 января 2020 года">26 января</a></td><td>−2.33°C</td>\n<td>80.29%</td>\n<td>742</td>\n<td>5 м/с</td></tr><tr><td><a href="http://weatherarchive.ru/Moscow/27-January-2020" hreflang="ru" title="Погода в Москве 27 января 2020 года">27 января</a></td><td>−1.8°C</td>\n<td>84.14%</td>\n<td>746</td>\n<td>3 м/с</td></tr><tr class="odd"><td><a href="http://weatherarchive.ru/Moscow/28-January-2020" hreflang="ru" title="Погода в Москве 28 января 2020 года">28 января</a></td><td>−6.01°C</td>\n<td>91.29%</td>\n<td>745</td>\n<td>4 м/с</td></tr><tr><td><a href="http://weatherarchive.ru/Moscow/29-January-2020" hreflang="ru" title="Погода в Москве 29 января 2020 года">29 января</a></td><td>−1.41°C</td>\n<td>93.86%</td>\n<td>742</td>\n<td>2 м/с</td></tr><tr class="odd"><td><a href="http://weatherarchive.ru/Moscow/30-January-2020" hreflang="ru" title="Погода в Москве 30 января 2020 года">30 января</a></td><td>−1.61°C</td>\n<td>94.67%</td>\n<td>737</td>\n<td>3 м/с</td></tr><tr><td><a href="http://weatherarchive.ru/Moscow/31-January-2020" hreflang="ru" title="Погода в Москве 31 января 2020 года">31 января</a></td><td>−1.26°C</td>\n<td>92.00%</td>\n<td>736</td>\n<td>1 м/с</td></tr></table>, <table class="smart"><tr><th>Параметр (январь 2020)</th><th>Значение</th><th>Дата</th></tr><tr><td>Минимальная температура</td><td>−8.1°C</td><td>28 января в 02:00</td></tr><tr class="odd"><td>Максимальная температура</td><td>+2.5°C</td><td>17 января в 11:00</td></tr><tr><td>Минимальная среднесуточная температура</td><td>−6.01°C</td><td>28 января</td></tr><tr class="odd"><td>Максимальная среднесуточная температура</td><td>+1.49°C</td><td>17 января</td></tr><tr><td>Среднемесячная температура</td><td>−1.63°C</td><td>—</td></tr></table>, <table class="smart"><tr><th>Параметр</th><th>Значение</th></tr><tr><td>Фактически в январе 2020 года</td><td>−1.63°C</td></tr><tr class="odd"><td>В среднем в январе 1999 – 2023 годов</td><td>−6.40°C</td></tr><tr><td>Согласно СП 131.13330.2012 "Строительная климатология"<br/>(2012 год выпуска)</td><td>−7.80°C</td></tr></table>, <table class="smart"><tr><th colspan="3">Москва</th></tr><tr><th>Месяц</th><th>t, °C</th><th>φ, %</th></tr><tr><td class="block_link" width="90"><a href="http://weatherarchive.ru/Pogoda/Moscow/January" hreflang="ru" title="Погода в Москве в январе">Январь</a></td><td>−6.7°C</td><td>85%</td></tr><tr class="odd"><td class="block_link" width="90"><a href="http://weatherarchive.ru/Pogoda/Moscow/February" hreflang="ru" title="Погода в Москве в феврале">Февраль</a></td><td>−6.1°C</td><td>82%</td></tr><tr><td class="block_link" width="90"><a href="http://weatherarchive.ru/Pogoda/Moscow/March" hreflang="ru" title="Погода в Москве в марте">Март</a></td><td>−0.9°C</td><td>74%</td></tr><tr class="odd"><td class="block_link" width="90"><a href="http://weatherarchive.ru/Pogoda/Moscow/April" hreflang="ru" title="Погода в Москве в апреле">Апрель</a></td><td>+6.9°C</td><td>66%</td></tr><tr><td class="block_link" width="90"><a href="http://weatherarchive.ru/Pogoda/Moscow/May" hreflang="ru" title="Погода в Москве в мае">Май</a></td><td>+13.1°C</td><td>65%</td></tr><tr class="odd"><td class="block_link" width="90"><a href="http://weatherarchive.ru/Pogoda/Moscow/June" hreflang="ru" title="Погода в Москве в июне">Июнь</a></td><td>+17.2°C</td><td>68%</td></tr><tr><td class="block_link" width="90"><a href="http://weatherarchive.ru/Pogoda/Moscow/July" hreflang="ru" title="Погода в Москве в июле">Июль</a></td><td>+20°C</td><td>72%</td></tr><tr class="odd"><td class="block_link" width="90"><a href="http://weatherarchive.ru/Pogoda/Moscow/August" hreflang="ru" title="Погода в Москве в августе">Август</a></td><td>+17.9°C</td><td>74%</td></tr><tr><td class="block_link" width="90"><a href="http://weatherarchive.ru/Pogoda/Moscow/September" hreflang="ru" title="Погода в Москве в сентябре">Сентябрь</a></td><td>+11.8°C</td><td>80%</td></tr><tr class="odd"><td class="block_link" width="90"><a href="http://weatherarchive.ru/Pogoda/Moscow/October" hreflang="ru" title="Погода в Москве в октябре">Октябрь</a></td><td>+5.9°C</td><td>82%</td></tr><tr><td class="block_link" width="90"><a href="http://weatherarchive.ru/Pogoda/Moscow/November" hreflang="ru" title="Погода в Москве в ноябре">Ноябрь</a></td><td>−0.1°C</td><td>86%</td></tr><tr class="odd"><td class="block_link" width="90"><a href="http://weatherarchive.ru/Pogoda/Moscow/December" hreflang="ru" title="Погода в Москве в декабре">Декабрь</a></td><td>−4.3°C</td><td>87%</td></tr><tr><th class="block_link"><a href="http://weatherarchive.ru/Pogoda/Moscow" hreflang="ru" title="Погода в Москве по месяцам">По месяцам</a></th><th>6.2°C</th><th>77%</th></tr></table>]'

In [ ]:
table_w

In [ ]:
res_tw = table_w.findAll('td')

In [ ]:
res_tw

## cars

In [ ]:
import re

In [ ]:
# url = 'http://www.autonet.ru/auto/ttx/ac_cars/ace'
url = 'http://www.autonet.ru/auto/ttx/audi/a3'

In [ ]:
page = requests.get(url)
soup = BeautifulSoup(page.text, "html.parser")

    # tables = soup.findAll('table', class_='mod-list-table')
tables = soup.findAll('table', class_=lambda s: s and s.startswith('mod-list'))
tables

In [ ]:
# i = 0
# for table in tables:
#   i += 1
#   table.findAll('td')
# i

11

In [ ]:
def parse_url(url):
    page = requests.get(url)
    soup = BeautifulSoup(page.text, "html.parser")

    # tables = soup.findAll('table', class_='mod-list-table')
    tables = soup.findAll('table', class_=lambda s: s and s.startswith('mod-list'))
    
    frames = []
    for table in tables:
      res_ = parse_table(table)
      frames.append(res_)
      # print(result)
    result = pd.concat(frames)
    # result.reset_index().drop('index', axis=1)

    return result

In [ ]:
def parse_table(table):
    res = {'name': [],
           'release_year': [],
           'carcass': [],
           'doors': [],
           'volume': [],
           'power': []}
    
    name_tags = table.findAll('td', class_="mod")
    [res['name'].append(el.text.strip()) for el in name_tags]
      

    carcass_tags = table.findAll('td', class_="carcass")
    
    for el in carcass_tags:
      carcass_type, doors, *_ = el.text.split()
      res['carcass'].append(carcass_type)
      res['doors'].append(int(re.findall(r'\d+', doors)[0]))

    year_tags = table.findAll('td', class_=lambda s: s and s.startswith('edition'))

    for el in year_tags:
      release_year, *_ = el.text.split()
      release_year = release_year[-4:]
      res['release_year'].append(release_year)

    volume_tags = table.findAll('td', class_="volume")

    for el in volume_tags:
      volume, *_ = el.text.split()
      res['volume'].append(int(volume))

    power_tags = table.findAll('td', class_="power")

    for el in power_tags:
      power, *_ = el.text.split()
      res['power'].append(int(power))

    return pd.DataFrame(res)

In [ ]:
# data = '01.2004'
# data[-4:]

In [ ]:
# a = {'name': ['Audi A3 Sedan 1.4 TFSI', 'Audi A3 Sedan 2.0 TFSI', 'Audi A3 Sedan 2.0 TFSI quattro', 'Audi A3 Sportback 1.4 TFSI', 'Audi A3 Sportback 2.0 TFSI', 'Audi A3 Sportback 2.0 TFSI quattro'], 'release_year': ['2016', '2016', '2016', '2016', '2016', '2016'], 'carcass': ['седан', 'седан', 'седан', 'хэтчбек', 'хэтчбек', 'хэтчбек'], 'doors': [4, 4, 4, 5, 5, 5], 'volume': [1395, 1984, 1984, 1395, 1984, 1984], 'power': [150, 190, 190, 150, 190, 190]}
# b = {'name': ['Audi A3 Sportback 1.4 TFSI', 'Audi A3 Sportback 1.8 TFSI', 'Audi A3 Sportback 2.0 TDI', 'Audi RS3 Sportback 2.5 TFSI quattro', 'Audi S3 Sportback 2.0 TFSI quattro'], 'release_year': ['2012', '2012', '2012', '2015', '2013'], 'carcass': ['хэтчбек', 'хэтчбек', 'хэтчбек', 'хэтчбек', 'хэтчбек'], 'doors': [5, 5, 5, 5, 5], 'volume': [1395, 1798, 1968, 2480, 1984], 'power': [122, 180, 150, 367, 300]}

# a = pd.DataFrame(a)
# b = pd.DataFrame(b)

# frames = [a, b]

# result = pd.concat(frames)
# result.reset_index().drop('index', axis=1)

In [ ]:
df = parse_url(url)
# df.reset_index().drop('index', axis=1)
# df = df.sort_values(by=['name', 'release_year', 'carcass', 'doors', 'volume', 'power'])
df

                              name release_year  carcass  doors  volume  power
0           Audi A3 Sedan 1.4 TFSI         2016    седан      4    1395    150
1           Audi A3 Sedan 2.0 TFSI         2016    седан      4    1984    190
2   Audi A3 Sedan 2.0 TFSI quattro         2016    седан      4    1984    190
3       Audi A3 Sportback 1.4 TFSI         2016  хэтчбек      5    1395    150
4       Audi A3 Sportback 2.0 TFSI         2016  хэтчбек      5    1984    190
..                             ...          ...      ...    ...     ...    ...
12                 Audi A3 1.9 TDI         1997  хэтчбек      3    1896    110
13                 Audi A3 1.9 TDI         1999  хэтчбек      5    1896    110
14                 Audi A3 1.9 TDI         1996  хэтчбек      3    1896     90
15                 Audi A3 1.9 TDI         1999  хэтчбек      5    1896     90
16        Audi S3 1.8 TFSI quattro         1999  хэтчбек      3    1781    210

[145 rows x 6 columns]

In [ ]:
# a = '(2'
# int(re.findall(r'\d+', a)[0])

In [ ]:
# a[0].text

'AC Cars Ace 3.5'

In [ ]:
table_c

<table class="mod-list-table">
<tbody>
<tr>
<th class="mod">
                        Марка и модификация
                    </th>
<th class="carcass">
                        Тип кузова
                    </th>
<th class="volume">
                        Объем
                    </th>
<th class="power">
                        Мощность
                    </th>
<th class="edition">
                        Выпуск
                    </th>
</tr>
<tr>
<td class="mod">
<a href="/auto/ttx/ac_cars/ace/270158">AC Cars Ace 3.5</a>
</td>
<td class="carcass">
                            кабриолет (2 дв.)
                        </td>
<td class="volume">
                            3506 см3
                        </td>
<td class="power">
                            354 л.с.
                        </td>
<td class="edition nomonth">
                            1998 - 2001
                        </td>
</tr>
<tr>
<td class="mod">
<a href="/auto/ttx/ac_cars/ace/269736">AC Cars Ace 4.6</a>
</td>
<td class="carcass">
                            кабриолет (2 дв.)
                        </td>
<td class="volume">
                            4601 см3
                        </td>
<td class="power">
                            307 л.с.
                        </td>
<td class="edition nomonth">
                            1998 - 2001
                        </td>
</tr>
<tr>
<td class="mod">
<a href="/auto/ttx/ac_cars/ace/270180">AC Cars Ace 4.6</a>
</td>
<td class="carcass">
                            кабриолет (2 дв.)
                        </td>
<td class="volume">
                            4601 см3
                        </td>
<td class="power">
                            326 л.с.
                        </td>
<td class="edition nomonth">
                            1997 - 2001
                        </td>
</tr>
<tr>
<td class="mod">
<a href="/auto/ttx/ac_cars/ace/269594">AC Cars Ace 4.9</a>
</td>
<td class="carcass">
                            кабриолет (2 дв.)
                        </td>
<td class="volume">
                            4942 см3
                        </td>
<td class="power">
                            326 л.с.
                        </td>
<td class="edition nomonth">
                            1997 - 2001
                        </td>
</tr>
<tr>
<td class="mod">
<a href="/auto/ttx/ac_cars/ace/269595">AC Cars Ace 4.9</a>
</td>
<td class="carcass">
                            кабриолет (2 дв.)
                        </td>
<td class="volume">
                            4942 см3
                        </td>
<td class="power">
                            243 л.с.
                        </td>
<td class="edition nomonth">
                            1997 - 2001
                        </td>
</tr>
</tbody>
</table>

In [ ]:
table_c.findAll('a')

[<a href="/auto/ttx/ac_cars/ace/270158">AC Cars Ace 3.5</a>,
 <a href="/auto/ttx/ac_cars/ace/269736">AC Cars Ace 4.6</a>,
 <a href="/auto/ttx/ac_cars/ace/270180">AC Cars Ace 4.6</a>,
 <a href="/auto/ttx/ac_cars/ace/269594">AC Cars Ace 4.9</a>,
 <a href="/auto/ttx/ac_cars/ace/269595">AC Cars Ace 4.9</a>]

## new wave

In [ ]:
url = 'http://www.autonet.ru/auto/ttx/ac_cars/ace'
page = requests.get(url)
soup = BeautifulSoup(page.text, "html.parser")

In [ ]:
t = soup.findAll('td', class_="carcass")
t

In [ ]:
lst = []
for el in t:
  print(el.contents[0])
  lst.append(el.contents[0])

                            кабриолет (2 дв.)


                            кабриолет (2 дв.)


                            кабриолет (2 дв.)


                            кабриолет (2 дв.)


                            кабриолет (2 дв.)

In [ ]:
lst

['\r\n                            кабриолет (2 дв.)\r\n                        ',
 '\r\n                            кабриолет (2 дв.)\r\n                        ',
 '\r\n                            кабриолет (2 дв.)\r\n                        ',
 '\r\n                            кабриолет (2 дв.)\r\n                        ',
 '\r\n                            кабриолет (2 дв.)\r\n                        ']

In [ ]:
t[0]

<td class="carcass">
                            кабриолет (2 дв.)
                        </td>

In [ ]:
print(t[0].find('td').contents[0])

AttributeError: ignored